<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bering Glacier Monitoring - Michigan Tech Research Institute (MTRI)</title>
    <!-- Conditional commenting for non-IE browsers -->
    <!--[if (!IE)]><!-->
    <link href="/gass/media/css/strict.css" rel="stylesheet" type="text/css" />
    <!--<![endif]-->

    <!-- Conditional commenting for IE browsers -->
    <!--[if lte IE 9]>
    <link href="/gass/media/css/strict_IE.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
<div id="navigator">
    <ul class="navigation">
        <li><a href="/gass/">Home</a></li>
        <li><a href="/gass/about/">Background</a></li>
        <li class="lit"><a href="/gass/access/">Data</a></li>
        <li><a href="/gass/current/">Map & Status</a></li>
        <li><a href="/gass/plots/">Real-Time Plots</a></li>
        <li><a href="/gass/instrumentation/">Instrumentation</a></li>
        <li><a href="/gass/team/">Project Team</a></li>
    </ul>
</div>
<div class="outerContainer" id="topCanvas">
    <div class="barHeader soft"></div>
    <div class="barHeaderText"><a href="/gass/">Bering Glacier Monitoring</a></div>
    <div id="newsFeed">
        <div class="post">
            <span class="postTitle">Data Access</span>
            <span class="header indent"><a href="/gass/current/">Map of Current GASS Locations and Conditions</a></span>
            <span class="header indent">GASS Raw Data</span>
            <span class="paragraph">
                <span class="datum"><a href="/gass/export/b01">Export all B01 data to CSV<img class="icon" src="/gass/media/img/export_excel.png" title="Export all B01 data to a CSV file"/></a></span>
                <span class="datum"><a href="/gass/export/b02">Export all B02 data to CSV<img class="icon" src="/gass/media/img/export_excel.png" title="Export all B02 data to a CSV file"/></a></span>
            </span>
            <span class="header indent">Interactive Plots</span>
            <span class="paragraph">
                <span class="datum"><a href="/gass/plot/ablation">Ablation time series<img class="icon" src="/gass/media/img/chart_curve.png" title="View a plot of ablation over time"/></a></span>
                <span class="datum"><a href="/gass/plot/mdds">Melt-degree days (MDDs)<img class="icon" src="/gass/media/img/chart_line.png" title="View a plot of the melt-degree days time series"/></a></span>
                <!--<span class="datum"><a href="/gass/plot/migration">Migration and migration rate over last 10 days<img class="icon" src="/gass/media/chart_bar.png" title="View a plot of migration over time"/></a></span>-->
                <span class="datum"><a href="/gass/plot/conditions">Temperature, other meteorological conditions<img class="icon" src="/gass/media/img/chart_stock.png" title="View a plot of meteorological conditions over time"/></a></span>
            </span>
        </div>
        <div id="logos">
            <a href="http://www.mtri.org/" target="_blank"><img id="mtriLogo" src="/gass/media/img/logo_MTRI_gray.png" /></a>
            <a href="http://www.blm.gov/ak/st/en.html" target="_blank"><img id="blmLogo" src="/gass/media/img/logo_BLM_gray.png" /></a>
            <a href="http://www.usgs.gov/" target="_blank"><img id="usgsLogo" src="/gass/media/img/logo_USGS_gray.png" /></a>
        </div>
        <div class="note"><span class="beringWebsite"><a href="http://www.beringglacier.org/">www.BeringGlacier.org</a></span>This website and its content are not administered or endorsed by either the U.S. Bureau of Land Management or the U.S. Geological Survey.</div>
    </div>
    <div id="monographPitch">
        <a href="http://rock.geosociety.org/Bookstore/default.asp?oID=0&catID=9&pID=SPE462" target="_blank"><img id="monograph" src="/gass/media/img/monograph.jpg" /></a>
        The <b>Bering Glacier Monograph</b> is <a href="http://rock.geosociety.org/Bookstore/default.asp?oID=0&catID=9&pID=SPE462" target="_blank">now available</a> from the Geological Society of America!
        The monograph presents the results of a comprehensive and diverse series of field studies and science investigations at Bering Glacier.
        The results reported are from a wide range of scientific disciplines, including glaciology, geology, paleogeology, hydrology, limnology, oceanography, tectonics, geomorphology, geophysics, meteorology, remote sensing, climate change, anthropology, and ecological studies pertaining to vegetation, fish, and marine mammals.
        <a href="http://rock.geosociety.org/Bookstore/default.asp?oID=0&catID=9&pID=SPE462" target="_blank">Purchase it from the GSA today!</a>
    </div>
</div>
</body>
</html>
