{% extends "base.html" %}

{% load custom_tags %}

{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/highcharts/2.1.1/js/highcharts.js"></script>
<script type="text/javascript" src="/static/highcharts/2.1.1/js/modules/exporting.js"></script>
<script type="text/javascript">
function initialize() {
    var d = new Date(), defaults, ablationChart, migrationChart;
    defaults = {
        plotOptions: {
            line: {
                lineWidth: 3,
                marker: {
                    enabled: false,
                    states: {
                        hover: {
                            enabled: true,
                            marker: {
                                enabled: true,
                                symbol: 'circle',
                                radius: 3,
                                lineWidth: 1
                                }
                            }
                        }
                    }
                }
            },
        credits: {
            floating: true, y: -100,
            text: 'Powered by Highcharts'
            },
        xAxis: {
            dateTimeLabelFormats: {
	            second: '%H:%M:%S',
	            minute: '%H:%M',
	            hour: '%b-%d <br> %H:%M',
	            day: '%m-%e',
	            week: '%b %e',
	            month: '%b \'%y',
	            year: '%Y'
                }
            },
        tooltip: {
            formatter: function() {
                return '<b>'+ this.series.name +'</b><br>'+
                Highcharts.dateFormat('%b %e', this.x) +': '+ this.y.toFixed(1) + ' ' + this.series.units;
                }
            },
        legend: {
            align: 'left', verticalAlign: 'bottom', floating: true, x: 65, y: 10,
            borderWidth: 0, itemStyle: {fontSize: '16px', fontWeight: 'bold'}
            },
        exporting: {
            buttons: {
                exportButton: {align: 'right', verticalAlign: 'bottom', y: -65},
                printButton: {align: 'right', verticalAlign: 'bottom', y: -65},
                }
            }
        };

    ablationChart = new Highcharts.Chart({
        chart: {
            renderTo: 'ablationChart',
            defaultSeriesType: 'line',
            loadMask: true,
            marginBottom: 80,
            marginRight: 30
            },
        plotOptions: defaults.plotOptions,
        credits: defaults.credits,
        title: {
            text: 'Summer 2011: Ablation', align: 'right',
            style: {fontSize: '16px', fontWeight: 'bold'}
            },
        xAxis: {
            min: Date.UTC(2011, 4, 14, 0, 0, 0),
            tickPixelInterval: 110,
            dateTimeLabelFormats: defaults.xAxis.dateTimeLabelFormats,
            type: 'datetime',
            labels: {
                style: {fontSize: '14px', fontWeight: 'bold'}, y: 30
                }
            },
        yAxis: {
            labels: {
                style: {fontSize: '14px', fontWeight: 'bold'}
                },
            title: {
                text: 'Ablation (cm)', margin: 20,
                style: {fontSize: '16px', fontWeight: 'bold'}
                },
            min: 0,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
                }]
            },
        tooltip: {
            formatter: function() {
                return '<b>'+ this.series.name +'</b><br>'+
                Highcharts.dateFormat('%b %e', this.x) +': '+ this.y.toFixed(1) + ' cm';
                }
            },
        legend: defaults.legend,
        exporting: defaults.exporting,
        series: [
            {
            name: 'B01',
            data: [
                {% for observation in b1.ablation %}
                    [
                    {% for comp in observation %}
                        {% if not forloop.last %}
                            Date.UTC({{ comp.year }}, {{ comp.month }} - 1, {{ comp.day }}, {{ comp.hour }}, {{ comp.minute }}, {{ comp.second }}),
                        {% endif %}
                        {% if forloop.last %}{{ comp }}{% endif %}
                    {% endfor %}
                    ]{% if not forloop.last %},{% endif %}
                {% endfor %}
                ]
            },
            {
            name: 'B02',
            data: [
                {% for observation in b2.ablation %}
                    [
                    {% for comp in observation %}
                        {% if not forloop.last %}
                            Date.UTC({{ comp.year }}, {{ comp.month }} - 1, {{ comp.day }}, {{ comp.hour }}, {{ comp.minute }}, {{ comp.second }}),
                        {% endif %}
                        {% if forloop.last %}{{ comp }}{% endif %}
                    {% endfor %}
                    ]{% if not forloop.last %},{% endif %}
                {% endfor %}
                ]
            }
            ]
        });
    }
</script>
{% endblock %}

{% block body %}
<body onload="initialize()">
{% endblock %}

{% block navigator %}
<div id="navigator">
    <ul class="navigation">
        <li><a href="/gass/">Home</a></li>
        <li><a href="/gass/about/">Background</a></li>
        <li><a href="/gass/access/">Data</a></li>
        <li><a href="/gass/current/">Map & Status</a></li>
        <li class="lit"><a href="/gass/plots/">Real-Time Plots</a></li>
        <li><a href="/gass/instrumentation/">Instrumentation</a></li>
        <li><a href="/gass/team/">Project Team</a></li>
    </ul>
</div>
{% endblock %}

{% block topCanvas %}
<div class="outerContainer" id="topCanvas">
    <div class="barHeader soft"></div>
    <div class="barHeaderText"><a href="/gass/">Bering Glacier Monitoring</a></div>
    <div id="canvas">
        <span class="pageTitle">Ablation Time Series</span>
        <span class="paragraph">
            <br />A roughly 5-hour triangular filter was applied to the ablation data. Click on a legend item to add/remove that data series. Moving the mouse over a data series will give you information about the value(s) at a given point. You can also print or export to a file using the buttons at the bottom right of each graph.
        </span>
        <div class="chart" id="ablationChart"></div><br /><br />
        <div class="note"><span class="beringWebsite"><a href="http://www.beringglacier.org/">www.BeringGlacier.org</a></span>This website and its content are not administered or endorsed by either the U.S. Bureau of Land Management or the U.S. Geological Survey.</div>
    </div>
    <div id="logos">
        <a href="http://www.mtri.org/" target="_blank"><img id="mtriLogo" src="/gass/media/img/logo_MTRI_gray.png" /></a>
        <a href="http://www.blm.gov/ak/st/en.html" target="_blank"><img id="blmLogo" src="/gass/media/img/logo_BLM_gray.png" /></a>
        <a href="http://www.usgs.gov/" target="_blank"><img id="usgsLogo" src="/gass/media/img/logo_USGS_gray.png" /></a>
    </div>
</div>
{% endblock %}
