{% extends "base.html" %}

{% load custom_tags %}

{% block scripts %}
{% endblock %}

{% block bodyOpener %}
{% endblock %}

{% block mainContent %}
    <div class="barHeader"><a name="surging_glaciers" href="#surging_glaciers">Surging Glaciers</a></div><br />
    <div class="note">Prepared by Dr. Edward Josberger<br />Glacier-Climate Scientist, Retired<br />Senior Scientist, MTRI</div>
    <div class="clear"></div>
    <span class="header"><a name="what_is_surging" href="#what_is_surging">What is a surging glacier?</a></span>
    Surging glaciers are glaciers that exhibit surge behavior; that is, long periods of typical, low glacier flow speeds are replaced by short periods of rapid flow.  The variable interval between surges can be ten to one hundred years and ice speeds can be 10 to 100 times normal.  A surge can, rapidly transport large amounts of ice out of the accumulation zone into the ablation zone of the glacier, and the terminus of a surging glacier can advance many kilometers over the course of the surge.  For Bering Glacier, surges occur every 10 to 20 years, greatly fracturing the glacier surface.  Ice speeds can reach 100 m/day at the terminus but are about 10 m/day up glacier and Vitus Lake, a large pro-glacial lake at the terminus, can be virtually overrun.<br /><br />

    <span class="header"><a name="causes_of_a_surge" href="#causes_of_surges">What causes a surge?</a></span>
    The causes of surging behavior are poorly known.  Studies indicate they are related to the supply of water to the glacier bed, “lubricating” the glacier bed, the drainage system at the bed and the accumulation of mass by the glacier.  For Bering Glacier, the surge of 1995-96 ended with a large outburst flood, which indicates the importance of sub-glacial hydrologic processes for controlling surges.<br /><br />

    <span class="header"><a name="impacts_of_surges" href="#impacts_of_surges">What are the impacts of surges?</a></span>
    Glacier surges play an important role in the long-term mass balance of a glacier by transporting large amounts of ice down glacier into the ablation zone.  The advancing terminus can temporarily dam tributary streams and overrun proglacial features, including lakes, as is the case with Bering Glacier and Vitus Lake.  Bering Glacier is also a tidewater glacier, calving icebergs into Vitus Lake, the combination of surging and calving has a great impact on the mass balance of the glacier.<br /><br />

    <span class="header"><a name="climate_change_and_surges" href="#climate_change_and_surges">Is there any relationship between climate change and surges?</a></span>
    While the occurrence of individual surges is not directly related to climate change, climate change may alter the frequency and magnitude of surging or even cause glaciers to cease being of the surge type.<br /><br />
{% endblock %}
