<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Bering Glacier Monitoring - Michigan Tech Research Institute (MTRI)</title>
    {% block css %}
        <!-- Conditional commenting for non-IE browsers -->
        <!--[if (!IE)]><!-->
        <link href="/gass/media/css/bering.css" rel="stylesheet" type="text/css" />
        <!--<![endif]-->

        <!-- Conditional commenting for IE browsers -->
        <!--[if IE]>
        <link href="/gass/media/css/bering.ie.css" rel="stylesheet" type="text/css" />
        <![endif]-->
    {% endblock css %}
</head>

{% block scripts %}
{% endblock scripts %}

{% block tag-body %}
<body>

    {% block id-navigator %}
    <div id="navigator">
        <ul class="navigation">
            <li class="lit"><a href="{% url public_index %}">Home</a></li>
            <li><a href="{% url public_about %}">Background</a></li>
            <li><a href="{% url public_access %}">Data</a></li>
<!--
        <li><a href="/gass/current/">Map & Status</a></li>
        <li><a href="/gass/plots/">Real-Time Plots</a></li>
-->
        <li><a href="{% url public_instruments %}">Instrumentation</a></li>
        <li><a href="{% url public_team %}">Project Team</a></li>
        </ul>
    </div>
    {% endblock id-navigator %}

    {% block id-canvas %}
    <div class="container" id="canvas">

        {% block id-header %}
        <div id="header">
            <div class="brand">Bering Glacier Monitoring</div>
        </div>
        {% endblock id-header %}

{% block id-feature %}
<div id="feature">
    <a href="http://rock.geosociety.org/Bookstore/default.asp?oID=0&catID=9&pID=SPE462" target="_blank"><img id="monograph" src="/gass/media/img/monograph.jpg" /></a>
    The <b>Bering Glacier Monograph</b> is <a href="http://rock.geosociety.org/Bookstore/default.asp?oID=0&catID=9&pID=SPE462" target="_blank">now available</a> from the Geological Society of America!
    The monograph presents the results of a comprehensive and diverse series of field studies and science investigations at Bering Glacier.
    The results reported are from a wide range of scientific disciplines, including glaciology, geology, paleogeology, hydrology, limnology, oceanography, tectonics, geomorphology, geophysics, meteorology, remote sensing, climate change, anthropology, and ecological studies pertaining to vegetation, fish, and marine mammals.
    <a href="http://rock.geosociety.org/Bookstore/default.asp?oID=0&catID=9&pID=SPE462" target="_blank">Purchase it from the GSA today!</a>
</div>
{% endblock id-feature %}

        {% block id-content %}
        <div id="content">
            {% block id-feed %}
            <div id="feed">
                {% autoescape off %}
                <div class="post">
                    <div class="post-headline brand">The Typical News Headline</div>
                    <div class="post-date date">May 11, 2012</div>
                    <div class="post-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                {% endautoescape %}
            </div>
            {% endblock id-feed %}
        </div>
        {% endblock id-content %}

        {% block id-credits %}
        <div id="credits">
            <a href="http://www.mtri.org/" target="_blank"><img class="sponsor-logo" id="logo-mtri" src="/gass/media/img/logo_MTRI_gray.png" /></a>
            <a href="http://www.blm.gov/ak/st/en.html" target="_blank"><img class="sponsor-logo" id="logo-blm" src="/gass/media/img/logo_BLM_gray.png" /></a>
            <a href="http://www.usgs.gov/" target="_blank"><img class="sponsor-logo" id="logo-usgs" src="/gass/media/img/logo_USGS_gray.png" /></a>
        </div>
        {% endblock id-credits %}

    </div>
    {% endblock id-canvas %}

    {% block id-attribution %}
        <div class="container" id="attribution">
            <div class="attribute">
                <span class="signature"><a href="http://www.beringglacier.org/">www.BeringGlacier.org</a></span><br />
            </div>
            <div class="attribute">
                <div class="menu">
                    <div class="heading narrow">Site Map</div>
                    <a class="lit" href="/gass/">Home</a>
                    <a href="/gass/about/">Background</a>
                    <a href="/gass/current/">Map & Status</a>
                    <a href="/gass/plots/">Real-Time Plots</a>
                    <a href="/gass/instrumentation/">Instrumentation</a>
                    <a href="/gass/team/">Project Team</a>
                </div>
            </div>
            <div class="attribute">
                <div class="menu">
                    <div class="heading medium">Campaigns</div>
                        {% for site in campaigns %}
                            <div>
                                {% include "indicator_icon.html" %}
                                <span class="emphasis" title="({{ site.datetime }}) {{ site.lat|floatformat:5 }}{% if site.lat >= 0 %}°N{% else %}°S{% endif %}, {{ site.lng|floatformat:5 }}{% if site.lng >= 0 %}°E{% else %}°W{% endif %}">{{ site.site|upper }} - </span>
                                {{ site.region }}
                                <img onclick="window.open('http://maps.googleapis.com/maps/api/staticmap?center={{ site.lat }},{{ site.lng }}&zoom=10&size=300x300&maptype=terrain&markers=color:blue%7C{{ site.lat }},{{ site.lng }}&sensor=false','_blank','width=320,height=320,location=no,scrollbars=no,titlebar=no,menubar=no,resizable=no,status=no,toolbar=no')" class="icon nudgeup" src="/gass/media/img/pin.png" title="View last position on a map"/>
                            </div>
                        {% endfor %}
                        </a>
                    </div>
                </div>
            </div>


        {% block id-disclaimer %}
        <div id="disclaimer">
            &copy; 2012 <a href="http://www.mtri.org/" target="_blank">Michigan Tech Research Institute</a>
            <br />Some Icons by <a href="http://www.iconarchive.com/show/farm-fresh-icons-by-fatcow.1.html" target="_blank">FarmFresh</a>
            <br />This website and its content are not administered or endorsed by either the U.S. Bureau of Land Management or the U.S. Geological Survey.
        </div>
        {% endblock id-disclaimer %}

        </div>

    {% endblock id-attribution %}
</body>
{% endblock tag-body %}

</html>
