{% extends "base.html" %}

{% block id-navigator %}
<div id="navigator">
    <ul class="navigation">
        <li><a href="{% url public_index %}">Home</a></li>
        <li><a href="{% url public_about %}">Background</a></li>
        <li class="lit"><a href="{% url public_access %}">Data</a></li>
        <li><a href="/gass/current/">Map & Status</a></li>
        <li><a href="/gass/plots/">Real-Time Plots</a></li>
        <li><a href="{% url public_instruments %}">Instrumentation</a></li>
        <li><a href="/gass/team/">Project Team</a></li>
    </ul>
</div>
{% endblock id-navigator %}

{% block id-feature %}
<div id="feature">
    <a href="http://rock.geosociety.org/Bookstore/default.asp?oID=0&catID=9&pID=SPE462" target="_blank"><img id="monograph" src="/gass/media/img/monograph.jpg" /></a>
    The <b>Bering Glacier Monograph</b> is <a href="http://rock.geosociety.org/Bookstore/default.asp?oID=0&catID=9&pID=SPE462" target="_blank">now available</a> from the Geological Society of America!
    The monograph presents the results of a comprehensive and diverse series of field studies and science investigations at Bering Glacier.
    The results reported are from a wide range of scientific disciplines, including glaciology, geology, paleogeology, hydrology, limnology, oceanography, tectonics, geomorphology, geophysics, meteorology, remote sensing, climate change, anthropology, and ecological studies pertaining to vegetation, fish, and marine mammals.
    <a href="http://rock.geosociety.org/Bookstore/default.asp?oID=0&catID=9&pID=SPE462" target="_blank">Purchase it from the GSA today!</a>
</div>
{% endblock id-feature %}

{% block id-feed %}
<div id="feed">
    <div class="page-title">Data Access</div>
    <!--<div class="title indent"><a href="/gass/current/">Map of Current GASS Locations and Conditions</a></div>-->
    <div class="title indent">GASS Raw Data</div>
    <div class="paragraph">
        <div class="datum"><a href="/gass/export/b01">Export all B01 data to CSV<img class="icon" src="/gass/media/img/export_excel.png" title="Export all B01 data to a CSV file"/></a></div>
        <div class="datum"><a href="/gass/export/b02">Export all B02 data to CSV<img class="icon" src="/gass/media/img/export_excel.png" title="Export all B02 data to a CSV file"/></a></div>
    </div>
    <div class="title indent">Interactive Plots</div>
    <div class="paragraph">
        <div class="datum"><a href="/gass/plot/ablation">Ablation time series<img class="icon" src="/gass/media/img/chart_curve.png" title="View a plot of ablation over time"/></a></div>
        <div class="datum"><a href="/gass/plot/mdds">Melt-degree days (MDDs)<img class="icon" src="/gass/media/img/chart_line.png" title="View a plot of the melt-degree days time series"/></a></div>
        <!--<div class="datum"><a href="/gass/plot/migration">Migration and migration rate over last 10 days<img class="icon" src="/gass/media/chart_bar.png" title="View a plot of migration over time"/></a></div>-->
        <div class="datum"><a href="/gass/plot/conditions">Temperature, other meteorological conditions<img class="icon" src="/gass/media/img/chart_stock.png" title="View a plot of meteorological conditions over time"/></a></div>
    </div>
</div>
{% endblock id-feed %}
