{% extends "base.html" %}

{% block id-navigator %}
<div id="navigator">
    <ul class="navigation">
        <li><a href="{% url public_index %}">Home</a></li>
        <li><a href="{% url public_about %}">Background</a></li>
        <li><a href="{% url public_access %}">Data</a></li>
<!--
        <li><a href="/gass/current/">Map & Status</a></li>
        <li><a href="/gass/plots/">Real-Time Plots</a></li>
-->
        <li class="lit"><a href="{% url public_instruments %}">Instrumentation</a></li>
        <li><a href="{% url public_team %}">Project Team</a></li>
    </ul>
</div>
{% endblock id-navigator %}

{% block id-feed %}
<div id="feed">
    <div class="page-title">Instrumentation and Hardware</div>
    <div class="title"><a name="background" href="#background">Background</a></div>
    <img class="figure" src="/gass/media/img/fig_ablato_unit.jpg" title="One of the Glacier Albation Sensor System (GASS) units installed on the glacier" />
    <div class="paragraph-wrap">
        If a glacier is in equilibrium with its environment, it will show neither a net increase or decrease in mass.
        With a sustained negative balance, it will retreat; a sustained positive balance will result in an advance.
        One measure of the likelihood of glacial survival is the thinning (by melting, or “ablation”) along the length of the glacier <a href="#pelto2010">[1]</a>.
        Typical ablation measurements are made with stakes inserted vertically into the ice; the difference between the exposed length of the stake at the beginning and end of the melt season is used to estimate the loss at that point.
        A network of these stakes along the length of the glacier can provide measurements that can be converted into volume lost during an ablation season.
        In practice, these stakes are measured infrequently; due to the remoteness of the Bering Glacier, it is not feasible to make measurements more than two or three times during the ablation season.
        More frequent measurements were needed. For this reason, we designed an instrument to be left on the glacier, recording a variety of parameters (in addition to ablation) on an hourly basis.
    </div>
    <div class="title"><a name="gass" href="#gass">Glacier Ablation Sensor System (GASS)</a></div>
    <div class="paragraph">
        The Glacier Ablation Sensor System (GASS) was designed and fabricated by MTRI, and deployed by MTRI, USGS, and BLM scientists to record, on a hourly basis, data describing the horizontal and vertical (melt) movement of a glacier, as well as corresponding meteorological parameters.
        Beginning in 2004, a minimum of 6 GASS units have been placed at different elevations on the Bering lobe of the glacier.
        For the 2008 and 2010 field seasons, one of the GASS sensors was equipped to transmit data using the ARGOS satellite service.
        For the 2011 season, the ARGOS hardware was replaced with an Iridium Satellite modem.
        The Iridium network has 66 satellites in polar orbits, with excellent worldwide coverage.
        Two GASS units, B01 (near the terminus) and B02 (up-glacier), were equipped to transmit collected data in real time.
        The data from the other units (B03, B04, B06, and T01) will be available at the end of the season.
    </div>
    <div class="paragraph">
        While the conventional method mentioned above required the distance to the ice be measured by hand, GASS uses a sonar pulse to measure the distance to the ice.<!--, as depicted <a href="">in this illustration</a>.-->
        The time delay between the emitted pulse and the received signal is converted to distance, and recorded.
        The other sensors in the GASS include temperature, wind speed, and upward and downward-looking light intensity.
        The GASS unit is powered by a rechargeable battery coupled with a solar panel to provide extra power.
        A sophisticated embedded microprocessor manages the power, data collection and storage.
        A WAAS-enabled GPS records position and time for each measurement, and an acoustic sensor (sonar) is used to measure absolute distance between the GASS unit and glacier to derive the required melt information.
    </div>
    <div class="title"><a name="gass" href="#gass">Hardware Design</a></div>
    <div class="paragraph">
        The suite of sensors is configured to provide information that will allow not just ablation estimation, but meteorological data that can be used to derive predictors of ablation in the absence of direct measurements.
    </div>
    <a href="/gass/media/img/fig_gass_hardware.jpg"><img class="figure" src="/gass/media/img/fig_gass_hardware.gif" title="Inside the Glacier Albation Sensor System (GASS) hardware (click for a larger image)" /></a>
    <div class="paragraph-wrap">
        At the heart of the GASS is the Propeller chip, designed by Parallax. It is a multicore microcontroller designed for parallel processing.
        To quote Parallax literature, “It contains eight processors, or cores, (called cogs) which can operate simultaneously at your will. Using the Propeller is like employing a team of up to eight workers for a project; the team members can work in parallel on given tasks and coordinate as needed to achieve a common goal. Being truly flexible and efficient, they can share, shuffle, and dedicate to duties, quietly wait for events, start and stop, and direct each other as needed.” <a href="#parallax">[2]</a>
        These eight cogs have internal memory of their own, but share access to main memory and the 32 I/O pins.
        They also contain hardware to assist in signal detection and video generation.
        This means that the propeller is an ideal choice over other microcontrollers for applications in which package count (and power consumption) is an issue; each cog can take on specific hardware roles under software control, ranging from serial I/O and control, to complete VGA video output. And each cog can be dynamically reconfigured, during execution.
        Because there is no operating system, the operation of the cogs is truly synchronous, providing the designer complete control over system timing.
    </div>
    <div class="paragraph">
        Along with the Propeller on the custom-designed sensor board are power regulation, an 8-channel (12-bit) A/D, an SD-RAM socket for data storage, and LEDs for diagnostic or user-specified indicators.
        This generic sensor platform is the core of the system, controlling the sensors, communicating with them, storing the results, and (for two of the GASS units) transmitting these data back in real time for analysis and display.
    </div>
    <div class="paragraph">
        The sensors themselves consist of:
        <ul>
            <li>A sonar that “pings” the ice surface, measuring the distance from the GASS to the ice surface. As the surface melts, the range increases.</li>
            <li>A GPS, which provides time and location information. This location information is particularly useful this year, since the Bering Glacier is surging (and moving almost fast enough to detect by eye, unusual for a glacier).</li>
            <li>Light sensors that measure both incident and reflected light, allowing continuous measurements of the albedo (which in turn is related to how much sunlight the ice is absorbing).</li>
            <li>An anemometer for measuing wind speed</li>
            <li>A temperature sensor</li>
        </ul>
        Two of the 2011 GASS units have satellite transmitters to relay the data as they are taken back to MTRI through the Iridium network. 
    </div>
    <div class="title"><a name="installation" href="#installation">Installation</a></div>
    <img class="figure resized" src="/gass/media/img/fig_ben_with_steam_drill.jpg" title="We use a Heucke steam drill to drill 10 meters into the ice" />
    <div class="paragraph">
        Using a steam drill (a special-purpose steam generator and a long, insulated hose), a 10m-deep hole is made, into which an aluminum pipe is inserted.
        The GASS is installed on the top section of the pipe, and activated. For the 2011 season, five GASS units were installed along the length of the glacier, starting at the terminus (B01, for “Bering Lobe, site 1), and ending above the snow equilibrium line in the Bagley Ice Field, where the glacier is “born”.
        One GASS unit was placed on the Tashlish arm of the Bering Lobe (T01). Site B01 is shown <a href="/gass/media/fig_gass_b01_in_place.jpg">here</a>; B02 is shown <a href="/gass/media/fig_gass_b02_in_place.jpg">here</a>.
    </div>
    <div class="clear"></div>
    <div class="title"><a name="media" href="#media">Photos and Videos from the Glacier</a></div>
    <div class="paragraph">
        Here's a video showing use of the steam drill at the highest-elevation site (B06), above the snow-equilibrium line in the Bagley Ice Fields:<br /><br />
        <iframe width="560" height="349" src="http://www.youtube.com/embed/hk_EU_Lw0cE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="paragraph">
        The next video presents a view of the glacier from the helicopter on the way to site B03:<br /><br />
        <div class="right"><iframe width="560" height="349" src="http://www.youtube.com/embed/2DmydFHDBDQ" frameborder="0" allowfullscreen></iframe></div><br /><br />
    </div>            
    <div class="citation"><a nohref name="pelto2010">[1] Pelto, M. S., “Forecasting temperate alpine glacier survival from accumulation zone observations”, The Cryosphere, vol. 4, 2010, pp. 67-75</a></div>
    <div class="citation"><a nohref name="parallax">[2] Parallax, http://www.parallax.com/portals/0/propellerqna/</a></div>
</div>
{% endblock id-feed %}
